<header class="flex flex-col sm:flex-row sm:justify-between sm:items-end gap-4 mb-8">

  <div>

    <h1 class="text-3xl font-bold text-slate-900">
      {{ headerTitle }}
    </h1>

    <p class="text-slate-500 max-w-md mt-1">
      {{ subtitle }}
    </p>

  </div>

  @if (buttonLabel) {

    <button
      (click)="buttonClick.emit()"
      class="h-10 flex items-center gap-2 px-4 bg-blue-600 text-white rounded-xl hover:bg-blue-700 transition"
    >

      <span class="material-symbols-outlined text-[20px]">
        add
      </span>

      {{ buttonLabel }}

    </button>

  }

</header>