<div
  class="bg-surface-container-lowest
         rounded-xl
         p-6
         transition
         hover:shadow-lg
         hover:-translate-y-1
         duration-200">

  <div class="flex justify-between items-start">

    <div>
      <p class="text-[10px] uppercase tracking-widest text-on-surface-variant font-bold">
        {{ label() }}
      </p>

      <p class="text-3xl font-extrabold font-headline text-on-surface mt-1">
        {{ value() }}
      </p>
    </div>

    @if (icon()) {
      <span
        class="material-symbols-outlined text-primary text-2xl">
        {{ icon() }}
      </span>
    }

  </div>

  @if (description()) {

    <div
      class="flex items-center gap-1 text-xs pt-3 font-semibold"

      [ngClass]="{
        'text-green-600': trend() === 'up',
        'text-red-500': trend() === 'down',
        'text-on-surface-variant': trend() === 'neutral'
      }"
    >

      @if (trend() === 'up') {
        <span class="material-symbols-outlined text-sm">
          trending_up
        </span>
      }

      @if (trend() === 'down') {
        <span class="material-symbols-outlined text-sm">
          trending_down
        </span>
      }

      {{ description() }}

    </div>

  }

</div>